
/* Import de la police inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset global pour toute les pages liées  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Stylisation général du header pout toutes les pages  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E3A8A;
    color: white;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
}

header .logo span {
    color: rgb(253, 11, 160);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #2563EB;
}

main {
    flex: 1;
}

footer {
    background-color: grey;
    color: black;
    padding: 10px;
    text-align: center;

}

/* PAGE D'ACCUEIL */

.home {
    background-color: whitesmoke;
}

.home-main .hero .hero-content {
    text-align: center;
    margin: 20px;
}

.home-main .hero .hero-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
    
}

.home-main .hero .hero-btn a {
    text-decoration: none;
}

.home-main .hero .hero-btn .login-btn {
    background-color: #2563EB;
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.home-main .hero .hero-btn .register-btn {
    background-color: #1E3A8A;
    color: white;
    padding: 12px;
    border-radius: 8px;
}

.home-main .hero .hero-btn a:hover {
    opacity: 0.8;
    font-weight: bold;
}

/* PAGE LOGIN  */

.login-main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(17, 17, 17);
    background-color: #f1f1f1;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

form { 
    text-align: left;
}

.input-box {
    margin-bottom: 10px;
    display: block;   
}

.login-main .input-box #email {
    margin-left: 62px;
    outline: none;
    padding: 8px;
    border-radius: 3px;
    border: solid 0.8px;
}

.login-main .input-box #password {
     outline: none;
    padding: 8px;
    border-radius: 3px;
    border: solid 0.8px;
}

.login-container .login-btn {
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.login-container .login-btn:hover {
   font-weight: bold;
}